body {
    background-color: #63c0be;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    font-weight: 500;
}

.MainComponent {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 16px auto;
    padding: 8px;
}

.Banner {

    & > div {
        max-width: 768px;
        margin: 32px auto;
    }
}

.List {
    font-size: 18px;
    counter-reset: tb-counter;
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 0px;

    li {
        line-height: 1.6em;
        margin-bottom: 1em;
        counter-increment: my-awesome-counter;
        display: flex;
        padding-left: 64px;
        position: relative;
        min-height: 48px;

        &:before {
            position: absolute;
            top: 8px;
            left: 0px;
            content: counter(my-awesome-counter) '.';
            font-weight: bold;
            font-size: 40px;
            font-family: 'Poppins';
            text-align: right;
            width: 48px;
            display: block;
            // line-height: 1.6em;
        }
    }
}

.SideToSide {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;

    .Block {
        flex: 1;
        flex-basis: 250px;
        margin: 32px 16px;
    }
}

.Button {
    background-color: #22545e;
    color: #ffffff;
    padding: 8px 16px;
    transform: rotate(-2deg);
    margin-left: 16px;
    display: inline-block;
    font-size: 18px;
    font-family: 'Poppins', 'Arial';
    font-weight: 900;
    cursor: pointer;
    margin: 8px;
    margin-bottom: 32px;


    .Button__default {
        display: block;
    }
    .Button__hover {
        display: none;
    }

    &:hover {
        background-color: #ec6468;
        .Button__default {
            display: none;
        }
        .Button__hover {
            display: block;
        }
    }
    &.active {
        background-color: #ec6468;
    }
}

button.rec-dot_active {
    background-color: #fce567;
    box-shadow: 0 0 1px 3px rgba($color: #fce567, $alpha: 0.5);

}
  
button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px rgba($color: #fce567, $alpha: 0.5);
}

.sc-bdfBwQ, .lgksPe, .rec-arrow, .rec-arrow-right {
    &:hover, &:active, &:focus {
    background-color: #fce567 !important;
    color: #ec6468 !important;
    }
    transition: none;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}


a.Button {
    text-decoration: none;
}

.Video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.onepager {
    img {
        width: 100%;
    }

    border: 3px;
    border-color: black;
}

.row {
    display: flex;
  }

.column {
    img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    flex: 33.33%;
    padding: 5px;
}

.column:hover img {
    opacity: 0.7;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}