.Footer {
    &__logos {
        display: flex;
        justify-content: space-around;
        max-width: 580px;
        margin: auto;
        flex-wrap: wrap;

        img {
            max-height: 72px;
        }
    }
}